/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 
 *= require main

 */

$link: #444;
$link_hover: #222;

@import 'bulma';

body {
	margin-right: 300px;
	margin-left: 300px;
}

header {
	padding-top: 50px;
}

body {
	margin-right: 300px;
	margin-left: 300px;
}

header .material-icons {
	padding-left: 40px;
	padding-top: 20px;
	
}

body .material-icons a {
	text-decoration: none;
	font-size: 30px;
	color: black;
}

 body .titre a {
 	text-transform: uppercase;
	font-weight: bold;
	margin-top: 40px;
	color: #000000;
	text-decoration: none;
	margin-bottom: 0;
	list-style-type: none;
	font-family: 'Martel', serif;
	font-size: 120px;

}

body .Menu1 {
	text-align: center;
}

body .Menu1 ul {
	list-style-type:none;
}

body .Menu1 ul li {
	display: inline-block;
	font-family: 'Martel', serif;
	font-size: 12px;
	padding-right: 30px;
}

body .Menu1 ul li a {
	color:black;
	text-decoration:none;

}



body .separateur_noir1 {
	width: 40vw;
	height: 5px;
	background-color: black;
	margin-top: 2vw;
}

body .separateur_noir2 {

	width: 30vw;
	height: 1px;
	background-color: black;
	margin: 1vw 0;
	
}

body .Menu2 {
	text-align: center;
}

body .Menu2 ul {
	list-style-type:none;
}

body .Menu2 ul li {
	display: inline-block;
	font-family: 'Martel', serif;
	font-size: 12px;
	padding: 15px;
}

body .Menu2 ul li a {
	color:black;
	text-decoration:none;
}

footer {
	position: relative;
	bottom: 0px;
	display: flex;
	flex-direction: column;
}

footer .row{
	display: flex;
	justify-content: center;
}

footer .row a {
	display: inline-block;
	text-align: center;
	text-decoration: none;
	padding: 15px 15px;
	color: white;
	}

footer .form-social {
 display: flex;
 position: relative;
 justify-content: center;
 align-items: center;
 border-radius: 60%;
 background-color: #000000;
 text-decoration: black;
 background-size: 100%;
 margin: 1vw 1vw;

}



footer .text {
	display: flex;
	position: relative;
	text-align: center;
	justify-content: center;
	font-size: 10px;
	font-family: "Montserrat";
	

}

/*************************/
/*        SIDE NAV       */
/*************************/

.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 3;
	top: 0;
	left: 0;
	overflow-x: hidden;
	padding-top: 100px;
	transition: 0.3s;
	font-family: 'DM Sans', sans-serif;
	text-decoration: none;
	letter-spacing: 1.5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	background-color: black;
   }
   
   .sidenav hr {
	border-top: 1px solid #fff;
	border-bottom: 0px;
   }
   
   .sidenav a {
	padding: 10px 6px 10px 15px;
	text-decoration: none;
	font-size: 1em;
	color: #fff;
	display: block;
	transition: 0.3s;
   }
   
   .sidenav a:hover {
	color: #1409aa;
   }
   
   .sidenav .closebtn {
	position: absolute;
	top: 5px;
	right: 15px;
	font-size: 25px;
	margin-left: 50px;
   }



   a .fab:hover {
	color: #1409aa;
	text-decoration: black;
   }

