  
<%= render 'layouts/header' %>

<body>
    <div class="container">
      <% @products.each do |product| %>
        <%if product.photos.attached?%>
         <div class="d-flex justify-content-center">
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="img-fluid">
            <%= image_tag(product.photos[0])%>
            </div>
            </div>
            </div>
            </div> 
            <div class="d-flex justify-content-center"> 
            <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
            <%= link_to "#{product.name}", product %> 
            <% end %>
            </div>
            </div>
            </div>
      <% end%>
    </div>
  </div>
</div>

</body>


<%= render 'layouts/footer' %>


</html>


