 <footer>
        <div class="row">
            <a href="https://www.facebook.com" class="form-social" target="_blank" style="background-image: url('../TEST2/IMG/facebook.jpg')"></a>
            <a href="https://www.instagram.com" class="form-social" target="_blank" style="background-image: url('../TEST2/IMG/instagram.jpg')"></a> 
        </div>

        <center>
        <small class="text">Copyright © 2020 Kapsket. All rights reserved.</small>
        </center>
</footer>