<footer >
  <div class="container">
            <div class="d-flex justify-content-center">
            <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-1 text-center">
            <a href="https://www.facebook.com" class="form-social" target="_blank">
              <i class="fab fa-facebook-f"></i>
            </a>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-1 text-center">
            <a href="https://www.instagram.com" class="form-social" target="_blank">
              <i class="fab fa-instagram"></i>
            </a>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-1 text-center">
            <a href="https://www.linkedin.com" class="form-social" target="_blank">
              <i class="fab fa-linkedin"></i>
            </a>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-1 text-center">
            <a href="https://twitter.com" class="form-social" target="_blank">
              <i class="fab fa-twitter"></i>
            </a>
            </div>
            </div>
            </div>
            <div class="row">
            <div class="col-12 text-center">
            <small>Copyright © 2020 Kapsket. All rights reserved.</small>
            </div>
            </div>
  </div>          
</footer>